In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns
import sys
import os
# import gseapy as gp
import matplotlib.pyplot as plt
import swan_vis as swan
import yaml
from snakemake.io import expand
import cerberus

p = os.path.dirname(os.path.dirname(os.getcwd()))
sys.path.append(p)

from proc_revisions.utils import *
from proc_revisions.plotting import *
from proc_revisions.ss_sj_utils import *

In [3]:
od = '../../proc_revisions/'
config_file = f'{od}/config.yml'
with open(config_file) as f:
    config = yaml.safe_load(f)

In [4]:
# repeats = od+config['ref']['repeats']['txt']
repeats = '../../proc_revisions/ref/mouse/rmsk.txt'

## Look for B1 elements

In [5]:
repeats

'../../proc_revisions/ref/mouse/rmsk.txt'

In [6]:
df = pd.read_csv(repeats, sep='\t', header=None)
df.head()
# df = pd.read_csv(repeats, sep='\t', header=None,
#                  usecols=[5,6,7,9,12],
#                  names=['Chromosome', 'Start', 'End','Strand', 'Name'])

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,607,12955,105,9,10,chr1,3000000,3002128,-192469843,-,L1_Mus3,LINE,L1,-3055,3592,1466,1
1,607,1216,268,31,105,chr1,3003152,3003994,-192467977,-,L1Md_F,LINE,L1,-5902,617,1,2
2,607,234,279,0,0,chr1,3003993,3004054,-192467917,-,L1_Mus3,LINE,L1,-6034,297,237,3
3,607,3685,199,21,14,chr1,3004040,3004206,-192467765,+,L1_Rod,LINE,L1,1321,1492,-4355,4
4,607,376,62,31,0,chr1,3004206,3004270,-192467701,+,(CAAA)n,Simple_repeat,Simple_repeat,4,69,0,5

In [34]:
df[11].unique()

array(['LINE', 'Simple_repeat', 'LTR', 'SINE', 'Low_complexity', 'DNA',
       'snRNA', 'Other', 'Satellite', 'Unknown', 'SINE?', 'srpRNA',
       'tRNA', 'LTR?', 'RNA', 'scRNA', 'RC', 'rRNA', 'DNA?', 'RC?',
       'LINE?', 'Retroposon'], dtype=object)

In [7]:
df.loc[df[11]=='SINE'][12].unique()

array(['B2', 'B4', 'ID', 'Alu', 'MIR', 'tRNA', 'Deu', 'tRNA-RTE',
       '5S-Deu-L2', 'tRNA-Deu'], dtype=object)

In [8]:
len(df.loc[df[12]=='Alu'].index)

601652

In [9]:
len(df.loc[df[12].isin(['Alu', 'B2', 'B4'])].index)

1406140

In [35]:
df[12].unique()

array(['L1', 'Simple_repeat', 'ERVK', 'B2', 'Low_complexity', 'ERV1',
       'B4', 'TcMar-Tigger', 'ERVL', 'ID', 'ERVL-MaLR', 'Alu',
       'hAT-Charlie', 'L2', 'snRNA', 'Other', 'RTE-X', 'hAT-Tip100',
       'Gypsy', 'MIR', 'Satellite', 'ERVK?', 'Unknown', 'SINE?', 'srpRNA',
       'RTE-BovB', 'CR1', 'tRNA', 'Gypsy?', 'LTR?', 'TcMar-Mariner',
       'LTR', 'RNA', 'scRNA', 'TcMar-Tc2', 'Y-chromosome', 'Helitron',
       'PiggyBac', 'Deu', 'ERVL?', 'MULE-MuDR', 'hAT', 'TcMar?',
       'hAT-Blackjack', 'rRNA', 'DNA', 'ERV1?', 'DNA?', 'Helitron?',
       'hAT?', 'hAT-Tip100?', 'PiggyBac?', 'L1?', 'Penelope?', 'Dong-R4',
       'TcMar', 'MuDR', 'TcMar-Pogo', 'centr', 'I-Jockey', 'L1-dep?',
       'hAT-Ac', 'tRNA-RTE', '5S-Deu-L2', 'Penelope', 'tRNA-Deu',
       'hAT-Tag1', 'TcMar-Tc1', 'Merlin', 'PIF-Harbinger', 'Kolobok',
       'Crypton', 'Crypton-A?'], dtype=object)

In [36]:
[c for c in df[12].unique() if 'b' in c]

['PIF-Harbinger', 'Kolobok']

In [37]:
[c for c in df[12].unique() if 'B' in c]

['B2', 'B4', 'RTE-BovB', 'PiggyBac', 'hAT-Blackjack', 'PiggyBac?']