In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns
import sys
import os
import gseapy as gp
import matplotlib.pyplot as plt
import swan_vis as swan
import yaml
from snakemake.io import expand

p = os.path.dirname(os.path.dirname(os.getcwd()))
sys.path.append(p)

from scripts.utils import *
from scripts.plotting import *

In [2]:
config_file = '../snakemake/config.yml'
with open(config_file) as f:
    config = yaml.safe_load(f)

In [4]:
ab = '../'+expand(config['data']['ab'], species='human')[0]
filt_ab = '../'+expand(config['data']['filt_ab'], species='human')[0]
read_annot = '../'+expand(config['data']['read_annot'], species='human')[0]
t_metadata = '../'+expand(config['ref']['cerberus']['t_info'], species='human')[0]
lib_meta = '../'+expand(config['data']['meta'], species='human')[0]
swan_file = '../'+expand(config['data']['sg'], species='human')[0]


ver = 'v40_cerberus'
min_tpm = 1
gene_subset = 'polya'
obs_col = 'sample'
go_gene_subset = 'protein_coding'

m_lib_meta = '../'+expand(config['data']['meta'], species='mouse')[0]

In [8]:
df = pd.read_csv(ab, sep='\t')
# df, gids = get_tpm_table(df, how='gene', gene_subset='polya', min_tpm=1)

In [9]:
df.head()

,gene_ID,annot_gene_id,annot_gene_name,gene_novelty,gm12878_1_1,gm12878_1_2,gm12878_1_3,gm12878_1_4,gm12878_3_1,gm12878_2_1,...,calu3_1_2,brodmann_area_46_1_1,brodmann_area_46_7_1,brodmann_area_46_5_1,brodmann_area_46_6_1,brodmann_area_46_8_1,brodmann_area_46_4_1,brodmann_area_46_2_1,brodmann_area_46_9_1,brodmann_area_46_3_1
0,2,ENSG00000227232.5,WASH7P,Known,0,1,0,2,7,0,...,27,9,42,84,51,73,70,56,65,10
1,3,ENSG00000278267.1,MIR6859-1,Known,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,ENSG00000243485.5,MIR1302-2HG,Known,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,6,ENSG00000237613.2,FAM138A,Known,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,ENSG00000240361.2,OR4G11P,Known,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0