In [3]:
import pandas as pd
import swan_vis as swan

In [5]:
# run `ir_es.py`

In [4]:
sg = swan.read('swan_modelad.p')

Read in graph from swan_modelad.p

In [6]:
# transcripts that are expressed in the modelad dataset
tids = sg.adata.var.index.tolist()
len(tids)

103153

In [14]:
df = pd.read_csv('novel_es_events.tsv', sep='\t')

# limit to expressed transcripts
df = df.loc[df.tid.isin(tids)]

n = len(df.edge_id.unique())
print(f'Found {n} novel exon skipping events')

Found 1466 novel exon skipping events

In [9]:
df = pd.read_csv('novel_ir_events.tsv', sep='\t')

# limit to expressed transcripts
df = df.loc[df.tid.isin(tids)]

n = len(df.edge_id.unique())
print(f'Found {n} novel intron retention events')

   Unnamed: 0                 gid                         tid  edge_id
0           0  ENSMUSG00000033793  ENSMUSG00000033793[1,10,1]   691009
1           0  ENSMUSG00000033793  ENSMUSG00000033793[1,10,6]   691009
2           0  ENSMUSG00000033793   ENSMUSG00000033793[1,9,1]   691009
3           0  ENSMUSG00000033793   ENSMUSG00000033793[1,9,6]   691009
4           0  ENSMUSG00000025911   ENSMUSG00000025911[1,7,4]   690282